

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* position: static; */
}

.logo{
  width: 50px;
  height: 50px;
  background-color: green;
  position: fixed;
  top: 20px;
  right: 20px;
  /* left: 80%; */
  z-index: 2;

}
.chatBox{
  width: 100px;
  height: 40px;
  background-color: black;
  position: fixed;
  bottom: 0;
  right: 0;
}
nav{
  width: 100%;
  height: 70px;
  background-color: skyblue;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

}

p{
  margin-top: 70px;
  margin-left: 20px;
}


.parent{
  width: 100%;
  height: 300vh;
  background-color: yellow;
  display: flex;
  justify-content: end;
}

.childSticky{
  width: 200px;
  height: 300px;
  background-color: purple;
  position: sticky;
  top: 100px;
  right: 0;

  
}