

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}



nav ul {
    margin-left: 50%;
    padding-top: 20px;
}
nav ul li{
    display: inline-block;
    margin-left: 10px;
}