
.left img{
    width: 300px;
    border-radius: 50%;
    float: right;
}

.left{
    float: left;
    padding-right: 50px;
}

.right{
   padding-top: 70px;
}

.right, .left{
    width: 49.6%;
    /* border: 2px solid black; */
}

.left, .right{
    display: inline-block;
}

.right button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


/* ფსევდო კლასი */

.right button:nth-child(4){
   background-color: orange;
}

.right button:nth-child(5){
    background-color: skyblue;
}
.right button:nth-child(6){
    background-color: red;
}
