*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$saxeliCvladi : rgb(49, 206, 49);

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin btn {
  background-color: cadetblue;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
}
p{
  color: rgb(49, 206, 49);
}


:root{
  --saxeli : rgb(49, 206, 49);
}


main {
  width: 100%;
  height: 100vh;
  @include flex();
  color: $saxeliCvladi;
  .parent {
     width: 600px;
     height: 600px;
     background-color: skyblue;
      @include flex();
    .child {
      width: 400px;
      height: 400px;
      background-color: yellow;
       @include flex();
      flex-direction: column;
       h2{
        color: red;
       }
      .garndchild{
        width: 300px;
        height: 300px;
        background-color: pink;
         @include flex();
        flex-direction: column;

        h2{
          font-family: cursive;
          color: blue;
        }
        p{
          font-style: italic;
        }
        button{
          @include btn();
          &:hover{
            transform: scale(105%);
          }
        }
        input{
          &::placeholder{
            color: red;
          }
        }

      }

    }
  }
}






