
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main video {
  width: 100%;
}



.over {
    padding-top:10%;
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}