table{
    margin: 50px auto;
    border: 3px solid red;
    /* border-collapse: collapse; */
    border-radius: 10px;
}

th{
    border: 1px solid black;
    border-radius: 10px;
}

td{
    border: 2px double green;
    border-radius: 10px;
}

