

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer{
  width: 100%;
  height: 70vh;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
}
.foooterChild{
  border: 2px solid red;
}
.lastChild{
  width: 70%;
  height: 250px;
  background-color: green;
  align-self: flex-end;
}
.foooterChild{
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media screen and (max-width:800px) {
  footer{
    height: auto;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 150px 300px;
  }
  .foooterChild{
    padding: 20px 20px;
  }
}


@media screen and (max-width:400px) {
  footer{
    height: auto;
     grid-template-columns: 1fr;
     grid-template-rows: 200px 300px 200px 500px;
  }
  .lastChild{
    align-self: flex-start;
  }
}