<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="../styles/common.css">
   <link rel="stylesheet" href="../styles/blog.css">
</head>
<body>

       <header>
       <div class="logo">
        <h3>Alan Jonson</h3>
        <p>Profesional Life Coach</p>
       </div>
       <div class="burger">
          <div class="bLine"></div>
          <div class="bLine"></div>
          <div class="bLine"></div>
       </div>
       <nav>
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="#ab">About</a></li>
            <li><a href="../templates/blog.html">Blog</a></li>
            <li><a href="">Home</a></li>
            <li><a href="">Home</a></li>
            <li><a href="">Home</a></li>
            <li><a href="">Home</a></li>
          </ul>
       </nav>
     </header>

    
     
     <main>

     </main>


     <section>
         <div class="child">
                 <div class="line"></div>
                 <h2>Lorem ipsum dolor sit</h2>
                 <div class="box1">
                    <div class="left"></div>
                    <div class="right">
                        <h2>10 tips for relaxation</h2>
                        <p>
                           Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading....
                        </p>
                    </div>
                
                
                 </div>
                 <div class="box2">
                    <div class="left"></div>
                    <div class="right">
                        <h2>Why taking action creates success</h2>
                        <p>
                           Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading....
                        </p>
                    </div>
                
                 </div>
        </div>


     </section>













   <footer>
      <div class="fLeft">

         <div class="footerChild">

            <div class="contact">
             <div class="first">
                  <div class="line"></div>
                  <h3>CONTACT</h3>
             </div>
             <div class="second">
                  <p>Lorem, ipsum dolor</p>
                  <p>Lorem, ipsum dolor</p>
             </div>
             <div class="third">
                  <p>Lorem, ipsum dolor</p>
                  <p>Lorem, ipsum dolor</p>
             </div>
             <p>Lorem ipsum dolor sit</p>
             <di class="icons">
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-instagram"></i>
                  <i class="fa-brands fa-tiktok"></i>
                  <i class="fa-brands fa-twitter"></i>
             </di   >
             <div class="last">
                  <p>Lorem, ipsum dolor</p>
                  <p>Lorem, ipsum dolor</p>
             </div>
         </div>

         </div>
      </div>
      <div class="fRight">

         <form action="">

        <div class="names">
          <div class="firstName">
               <label for="firstname">First Name</label>
               <input type="text" id="firstname">
          </div>
          <div class="lastName">
               <label for="">Last Name</label>
               <input type="text">
          </div>

        </div>

        <div class="email">
           <label for="">Emal</label>
           <input type="email" name="" id="">
        </div>

        <div class="subject">
          <label for="">Subject</label>
          <input type="text">
        </div>


        <div class="message">
            <label for="">Message</label>
            <textarea name="" id=""></textarea>
        </div>


        <button>Sign Up</button>


      </form>
      </div>
      
   </footer>
</body>
</html>