* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.about {
    width: 100%;
    height: 100vh;
    background-color: #33393b;
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.child {
    width: 20%;
    height: 80%;
    background-color: rgb(36, 9, 9);
    display: flex;
    justify-content: center;
    border: 1px solid red;
    color:antiquewhite;
}

.texted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.up {
    display: flex;
    justify-content: space-between;   
}

.down {
    width: 150px;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 10px;
}

.cbox {
    padding: 0px 60px 0px 0px;
    margin-bottom: 20px;
}

.checkbox {
    margin-bottom: 20px;
}

.btns {
    display: flex;
    justify-content: center;
}