* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    width: 100%;
    display: flex;
    height: 70px;
    background-color: skyblue;
    position: fixed;
}

.logo {
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: end;
}

.child {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    width: 50%;
    height: 70px;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li a {
    font-size: 20px;
}

main {
    margin-top: 20px;
}

.chat {
    width: 200px;
    height: 40px;
    background-color: black;
}

.chatbox {
    position: fixed;
    bottom: 0;
    right: 0;
}

.chat i, .chat span {
    color: white;
}

.messageBox {
    width: 300px;
    height: 400px;
    display: none;
    background-color: lemonchiffon;
    position: fixed;
    right: 0;
    bottom: 40px;
}

#chek:checked + .messageBox {
    display: block;
}

#chek {
    display: none;
}