* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    width: 100%;
    height: 100vh;
    background-color: skyblue;
    overflow: hidden;
}
.box{
    width: 200px;
    height: 200px;
    background-color: yellow;
    /* animation: move 2s 1 forwards linear; */
    /* animation: moove2  4s  forwards linear  infinite; */
    /* animation: rotate 2s infinite linear; */
    animation:  rotate 1s infinite linear, moove2 4s infinite linear;
}

/* name duration timing-function delay iteration-count direction fill-mode */


@keyframes rotate {
    from{
     transform: rotate(0deg);

    }
    to{
      transform: rotate(360deg);
    }
    
}



@keyframes moove2 {

    0%{
        margin-left: 0;
        margin-top: 0;
        background-color: yellow;

    }
    25%{
         margin-left: 80%;
         margin-top: 0;
         background-color: orange;
         visibility: hidden;
    }
    50%{
         margin-left: 80%;
         margin-top: 80vh;
         background-color: red;
    }
    70%{
         background-color: orange;
         margin-top: 80vh;
         margin-left: 0;
       
    }
    100%{
         margin-left: 0;
         margin-top: 0;
         background-color: yellow;
         visibility: visible;

    }
    
}



@keyframes move {
    
    from{
        background-color: yellow;
        margin-left: 0;
        /* margin-top: 200px; */
    }

    to{
        background-color: red;
        margin-left: 80%
            /* margin-top: 0; */
    }

}