

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent{
  width: 100%;
  height: 100vh;
  background-color: skyblue;
  display: grid;
  grid-template-columns: 2fr  3fr 5fr 2fr;
  grid-template-rows: 3fr 2fr;
  gap: 10px;
}

.child{
  /* width: 200px; */
  /* height: 200px; */
  border: 2px solid black;
  background-color: yellow;
}





/* FR  წილი ფრაქცია */



/* /////// არასიმეტრიული გრიდი */


.parent2{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: 
    '.        header   header   header  header'
    'nav      main     main     main    aside'
    'nav      main     main     main    aside'
    'footer   footer   footer   footer  footer'
    
    ;

}


header{
  background-color: skyblue;
  grid-area: header;
}

main{
  background-color: blueviolet;
  grid-area: main;
}


footer{
  background-color: red;
  grid-area: footer;
}

aside{
  background-color: green;
  grid-area: aside;
}


nav{
  background-color: cornflowerblue;
  grid-area: nav;
}

    /* <header></header>
    <main></main>
    <footer></footer>
    <aside></aside> */
