main {
    width: 100%;
    background-color: #f4f3e8;
    color: #27582a;
}

.head {
    font-size: 25px;
    height: 50vh;
    display: flex;
    align-items: center;
    padding: 0 5% ;
}

.childup {
    display: flex;
    flex-wrap: wrap;
}

.left {
    background-color: #f4f3e8;
    width: 40%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-template-areas:
        'erti erti erti erti erti erti .  .'
        'erti erti erti erti erti erti .  .'
        'erti erti erti erti erti erti .  .'
        'erti erti erti erti erti erti .  .'
        'erti erti erti erti erti erti .  .'
        'erti erti erti erti erti erti .  .'
        'erti erti erti erti erti erti .  .'
        'erti erti erti erti erti ori ori .'
        ' .    .    .    .   ori  ori ori .'
        ' .    .    .    .   ori  ori ori .'
        ' .    .    .    .   ori  ori ori .';
    gap: 10px;
    min-height: 420px;
}

.child1 {
    grid-area: erti;
    background-image: url(../img/about1.png);
    background-size: cover;
    background-position: center;
}

.child2 {
    grid-area: ori;
    background-image: url(../img/about2.png);
    background-size: cover;
    background-position: center;
}

.right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.r1 {
    font-size: 15px;
}

.r2 {
    font-size: 22px;
}

.loc {
    font-size: 30px;
    padding: 5%;
}

.ldline {
    width: 100%;
    height: 1px;
    background-color: #27582a;
}

.childdown {
    display: flex;
    flex-wrap: wrap;
    color: #27582a;
}

.dleft {
    width: 50%;
}

.dright {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 3% 0;
}

.dr1 {
    font-size: 15px;
}

.dr2 {
    font-size: 22px;
}

@media (max-width: 768px) {
    .childup {
        flex-direction: column;
    }
    .left, .right {
        width: 100%;
    }
    .left {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            'erti'
            'ori';
        min-height: auto;
    }
    .child1 {
        height: auto;
        aspect-ratio: 16/10;
    }
    .child2 {
        height: 220px;
    }
}

