.overlay h1{
  font-size: 100px;
  text-align: center;
  width: 70%;
}
.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 200px;
}

main {
  position: relative;

  padding: 20px;
  width: 100%;
  height: 150vh;
  background-color: #f4f3e8;
  display: grid;

  grid-template-areas:
    ".    .     .    .    .    erti   erti    erti     . . . . . . . .   .     .     .       .   .     .    .     ."
    ".    .     .    .    .    erti   erti    erti     . . . . . . . .   .     .     .       .   .     .    .     ."
    ".    .     .    .    .    erti   erti    erti     . . . . . . . .  ori   ori   ori     ori ori    .    .     ."
    ".    .     .    .    .    erti   erti    erti     . . . . . . . .  ori   ori   ori     ori ori    .    .     ."
    "sami sami  .    .    .    erti   erti    erti     . . . . . . . .  ori   ori   ori     ori ori    .    .     ."
    "sami sami  .    .    .    .      .       .        . . . . . . . .  ori   ori   ori     ori ori    .    .     ."
    "sami sami  .    .    .    .      .       .        . . . . . . . .  ori   ori   ori     ori ori    .    .     ."
    ".    .     .    .    .    .      .       .        . . . . . . . .  ori   ori   ori     ori ori    .    .     ."
    ".    .     .    .    .    .      .       .        . . . . . . . .   .     .     .       .   .     .    .     ."
    ".    .     .    .    .    .      .       .        . . . . . . . .   .     .     .       .   .     .    .     ."
    ".    .     .    .    .    .      .       .        . . . . . . . .   .     .     .       .   .     .    .     ."
    ".    otxi  otxi otxi otxi .      .       .        . . . . . . . .   .     .     .       .   .     .    .     ."
    ".    otxi  otxi otxi otxi .      .       .        . . . . . . . .   .     .     .       .   .    xuti xuti   ."
    ".    otxi  otxi otxi otxi .      .       .        . . . . . . . .   .     .     .       .   .    xuti xuti   ."
    ".    otxi  otxi otxi otxi .      .       .        . . . . . . . .  eqvsi eqvsi eqvsi    .   .    xuti xuti   ."
    ".    .     .    .    .    .      shvidi  shvidi   . . . . . . . .  eqvsi eqvsi eqvsi    .   .     .    .     ."
    ".    .     .    .    .    .      shvidi  shvidi   . . . . . . . .  eqvsi eqvsi eqvsi    .   .     .    .     ."
    ".    .     .    .    .    .      shvidi  shvidi   . . . . . . . .   .     .     .       .   .     .    .     .";
}

.child1 {
  grid-area: erti;
  background-image: url(../img/photo1.png);
  background-size: cover;
  background-position: center;
}

.child2 {
  grid-area: ori;
  background-image: url(../img/photo2.png);
  background-size: cover;
  background-position: center;
}

.child3 {
  grid-area: sami;
  background-image: url(../img/photo3.png);
  background-size: cover;
  background-position: center;
}

.child4 {
  grid-area: otxi;
  background-image: url(../img/photo4.png);
  background-size: cover;
  background-position: center;
}

.child5 {
  grid-area: xuti;
  background-image: url(../img/photo5.png);
  background-size: cover;
  background-position: center;
}

.child6 {
  grid-area: eqvsi;
  background-image: url(../img/photo6.png);
  background-size: cover;
  background-position: center;
}

.child7 {
  grid-area: shvidi;
  background-image: url(../img/photo7.png);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 800px) {
  .overlay {
    top: 30px;
  }

  .overlay h1{
    font-size: 50px;
  }

  .child7{
  display: none;
  }

  main {
    grid-template-areas:
      "erti .  ori    ori"
      ". sami  otxi    otxi"
      "xuti xuti  eqvsi    eqvsi";
  }
}

@media screen and (max-width: 400px) {
  .overlay h1{
    font-size: 50px;

}
  main {
    grid-template-areas:
      "erti"
      "ori"
      "sami"
      "otxi"
      "xuti"
      "eqvsi"
      "shvidi";
  }
}
