@font-face {
    font-family: chemifonti;
    src: url(./fonts/Volkhov/Volkhov-BoldItalic.ttf);
}
 
/* *{
    padding-left: 50px;
} */ 

/* class, pseudo-class */

/* id */

/* inline style */

/* !inportant */
/* 
p{
    font-family: chemifonti;
}

#first-id{
    color: red;
}

.first-class{
    color: green;
    background-color: brown;
}
*/


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    /* height: 150px; */
    border: 3px solid red;
    padding: 10px;
    margin: 20px 40px 50px 100px;
}

p{
    border: 3px solid blue;
    margin: 30px;
    /* margin-top: 30px; */
}