* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.overlay h1{

  font-size: 100px;
  text-align: center;
  width: 70%;
}
.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  /* background-color: rgba(128, 128, 128, 0.431); */
}
main {
  position: relative;

  padding: 20px;
  width: 100%;
  height: 150vh;
  background-color: antiquewhite;
  display: grid;
  /* grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr); */

  grid-template-areas:
    ".    .     .    .    .    erti   erti    erti     . . . . . . . . .     .     .       .   .   .    .     ."
    ".    .     .    .    .    erti   erti    erti     . . . . . . . . .     .     .       .   .   .    .     ."
    ".    .     .    .    .    erti   erti    erti     . . . . . . . . ori   ori   ori     ori ori .    .     ."
    ".    .     .    .    .    erti   erti    erti     . . . . . . . . ori   ori   ori     ori ori .    .     ."
    "sami sami  .    .    .    erti   erti    erti     . . . . . . . . ori   ori   ori     ori ori .    .     ."
    "sami sami  .    .    .    .      .       .        . . . . . . . . ori   ori   ori     ori ori .    .     ."
    "sami sami  .    .    .    .      .       .        . . . . . . . . ori   ori   ori     ori ori .    .     ."
    ".    .     .    .    .    .      .       .        . . . . . . . . ori   ori   ori     ori ori .    .     ."
    ".    .     .    .    .    .      .       .        . . . . . . . . .     .     .       .   .   .    .     ."
    ".    .     .    .    .    .      .       .        . . . . . . . . .     .     .       .   .   .    .     ."
    ".    .     .    .    .    .      .       .        . . . . . . . . .     .     .       .   .   .    .     ."
    ".    otxi  otxi otxi otxi .      .       .        . . . . . . . . .     .     .       .   .   .    .     ."
    ".    otxi  otxi otxi otxi .      .       .        . . . . . . . . .     .     .       .   .   xuti xuti  ."
    ".    otxi  otxi otxi otxi .      .       .        . . . . . . . . .     .     .       .   .   xuti xuti  ."
    ".    otxi  otxi otxi otxi .      .       .        . . . . . . . . eqvsi eqvsi eqvsi   .   .   xuti xuti  ."
    ".    .     .    .    .    .      shvidi  shvidi   . . . . . . . . eqvsi eqvsi eqvsi   .   .   .    .     ."
    ".    .     .    .    .    .      shvidi  shvidi   . . . . . . . . eqvsi eqvsi eqvsi   .   .   .    .     ."
    ".    .     .    .    .    .      shvidi  shvidi   . . . . . . . . .     .     .   .   .   .    .     .";
}

.child1 {
  grid-area: erti;
  background-color: red;
}

.child2 {
  grid-area: ori;
  background-color: rgb(105, 197, 19);
}
.child3 {
  grid-area: sami;
  background-color: blue;
}
.child4 {
  grid-area: otxi;
  background-color: green;
}
.child5 {
  grid-area: xuti;
  background-color: purple;
}
.child6 {
  grid-area: eqvsi;
  background-color: aqua;
}
.child7 {
  grid-area: shvidi;
  background-color: chocolate;
}

@media screen and (max-width: 800px) {
   .overlay h1{
    font-size: 50px;
}
  main {
    grid-template-areas:
      "erti .  ori    ori"
      ". sami  otxi    otxi"
      "xuti xuti  eqvsi    eqvsi"
      "shvidi shvidi shvidi shvidi";
  }
}

@media screen and (max-width: 400px) {
  .overlay h1{
    font-size: 50px;
}
  main {
    grid-template-areas:
      "erti"
      "ori"
      "sami"
      "otxi"
      "xuti"
      "eqvsi"
      "shvidi";
  }
}
