*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



main{
  width: 393px;
  height: 852px;
  background-color: skyblue;
}

.bg{
  width: 100%;
  height: 284px;
  background-size: cover;
  background-position: center;
  background-image: url(./images/Rectangle\ 4.svg);
}

.frame17{
  width: 292px;
  height: 576px;
  /* background-color: yellow; */
  margin-top: -200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.frame17 input{
  border-radius: 16px;
  height: 53px;
  width: 100%;
  padding: 16px;

  border: 1px solid #B2B2B2 ;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}




@media  screen and (min-width : 393px) {
   main{
  width: 100%;}

}


@media  screen and (min-width : 600px) {
   .bg{
   background-image: none;

   }

}