* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

.help {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(g1kms5tn.png);
    background-size: cover;
    background-position: center;
}

.child {
    width: 76%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
}

.line {
    width: 60px;
    height: 2px;
    background-color: black;
}

.child > h2 {
    font-size: 40px;
    width: 300px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;

}

.box {
    width: 250px;
    height: 300px;
    border: 4px solid black;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}

.btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
}

.btns button {
    align-self: center;
    padding: 7px 43px;
    margin-bottom: 20px;
}

.btns button:nth-child(1) {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.btns button:nth-child(1):hover {
  background-color: white;
  color: black;
}

.linelog {
    width: 100%;
    height: 1px;
    background-color: black;
}

.up {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.down {
    display: flex;
    align-self: center;
}

.down button {
    padding: 10px 20px;
}

.down button:nth-child(1) {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.down button:nth-child(1):hover {
    background-color: white;
    color: black;
}

