*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}


header{
    height: 70px;
    width: 100%;
    background-color: skyblue;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    z-index: 999;

}

.logo{
    background-color: yellow;
}
.logo h3, .logo p{
    text-align: center;
}


nav{
    background-color: purple;
}

nav ul{
    display: flex;
    gap: 20px;

}
nav ul li a {
    font-size: 20px;
}




footer{
    width: 100%;
    /* height: 70vh; */
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;

}


.fLeft{

    min-width: 350px;
    width: 50%;
    height: 70vh;
    display: flex;
    justify-content: center;
            flex-grow: 1;
    /* background-color: purple; */
}

.fRight{
        min-width: 350px;
        width: 50%;
        height: 70vh;
        flex-grow: 1;
    /* background-color: chartreuse; */
}

.footerChild{
    height: 70vh;
    width: 50%;
    background-color: skyblue;
}

.fRight form{
    height: 70vh;
    width: 70%;
    background-color: brown;
}


.bLine{
    width: 40px;
    height: 4px;
    background-color: black;
}
.burger{
    display: none;
    flex-direction: column;
    gap: 4px;
}

@media screen and (max-width:700px) {
 .fRight{
    display: flex;
    justify-content: center;
 }
 nav{
    display: none;
  }
   .burger{
    display: flex;
   }
}