.overlay{
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.overlay h1{

    font-size: 120px;
}

main video {
    width: 100%;
}

.about{
    width: 100%;
    /* height: 70vh; */
    background-color: skyblue;
    display: flex;
    flex-wrap: wrap;
}

.left{
    flex-grow: 1;
    min-width: 350px;
    width: 50%;
    height: 70vh;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.child{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    /* background-color: purple; */
}
.child h2{
    font-size: 50px;
    width: 200px;
}
.line{
    width: 50px;
    height: 2px;
    background-color: black;
}
.right{
    flex-grow: 1;
    min-width: 350px;
    width: 50%;
    height: 70vh;
    background-color: aqua;
    background-image: url(https://static.wixstatic.com/media/ea71bb_e7959a5be116482b9727a9be900d2d35~mv2_d_5454_3840_s_4_2.jpg/v1/fill/w_686,h_671,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/ea71bb_e7959a5be116482b9727a9be900d2d35~mv2_d_5454_3840_s_4_2.jpg);
    background-size: cover;
    background-position: top
}




.help{
    width: 100%;
    /* height: 70vh; */
    background-image: url(https://static.wixstatic.com/media/84770f_0cf5b6c1550a4b8c92f92f1064cc68de~mv2.jpg/v1/fill/w_919,h_1041,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/84770f_0cf5b6c1550a4b8c92f92f1064cc68de~mv2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    padding: 20px;
}


.helpChild{
    width: 60%;
    /* height: 70vh; */
    background-color:burlywood ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box{
    min-width: 250px;
    width: 32%;
    height: 300px;
    border: 5px solid black;
    flex-grow: 1;
}

.boxes{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap ;
}



@media screen and (max-width:700px) {

   .overlay h1{

    font-size: 70px;
   }

    
}