*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  width: 100%;
}

header .left{
  width: 39%;
  display: inline-block;
  
}

header nav{
  width: 60%;
  display: inline-block;
}

header nav ul li{
  display: inline-block;
  margin-left: 20px;
}

.left h3, .left p{
  text-align: center;
}

.myIcon{
  color: rgb(0, 0, 0);
  font-size: 20px;
}

a {
  color: black;
}
