



main{
    width: 100%;
    height: 70vh;
    background-image: url(https://static.wixstatic.com/media/84770f_62bea82dec60407d81320c967a003c1f~mv2_d_5468_2742_s_4_2.jpg);
    background-size: cover;
    background-position: center;
}


section{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.child{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: -50vh;
}

.child h2{
    font-size: 50px;
    width: 300px;
}


.line{
    width: 50px;
    height: 2px;
    background-color: black;
}


.box1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 0.1px solid lightgray;
}

.box1 .left{
    width: 50%;
    min-width:200px;
    flex-grow: 1;
    height: 300px;
    background-image: url(https://static.wixstatic.com/media/54e5b921fdf54a1db3802e905a8c53f6.jpg/v1/fill/w_480,h_360,fp_0.50_0.50,q_90,enc_avif,quality_auto/54e5b921fdf54a1db3802e905a8c53f6.webp);
    background-size: cover;
    background-position: center;
}
.box1 .right{
    flex-grow: 1;
    width: 50%;
    min-width:200px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 10px;
}

.box2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 0.1px solid lightgray;
    
}

.box2 .left{
    flex-grow: 1;
    width: 50%;
    min-width:200px;
    height: 300px;
    background-image: url(https://static.wixstatic.com/media/c22c23_28bfea37ec5b49f3bc889ea5a56c4e85~mv2_d_5600_3495_s_4_2.jpg/v1/fill/w_480,h_360,fp_0.50_0.50,q_90,enc_avif,quality_auto/c22c23_28bfea37ec5b49f3bc889ea5a56c4e85~mv2_d_5600_3495_s_4_2.webp);
    background-size: cover;
    background-position: center;
}

.box2 .right{
    flex-grow: 1;
    width: 50%;
    min-width:200px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 10px;
}

.right h2 {
    font-size: 30px;
}

.right p {
    font-size: 20px;
}










@media screen  and (max-width:800px) {
    section{
      height: 1500px;
    }
}