* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  position: fixed;
  background-color: aliceblue;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  /* flex-direction: column; */
  z-index: 1;
  align-items: center;
}

.niko {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.video {
  width: 100%;
  /* height: 100vh; */
}

.video video {
  width: 100%;
}

.polo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  position: absolute;
  gap: 20px;
  top: 100px;
}

.polo h1 {
  font-size: 150px;
}

.about {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.left {
  min-width: 500px;
  width: 50%;
  height: 70vh;
  flex-grow: 1;
}
.right {
  min-width: 500px;
  flex-grow: 1;
  width: 50%;
  height: 70vh;
  background-image: url(https://static.wixstatic.com/media/ea71bb_e7959a5be116482b9727a9be900d2d35~mv2_d_5454_3840_s_4_2.jpg/v1/fill/w_613,h_895,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/ea71bb_e7959a5be116482b9727a9be900d2d35~mv2_d_5454_3840_s_4_2.jpg);
  background-size: cover;
  background-position: top;
}

@media screen and (max-width: 1000px) {
  nav {
    display: none;
  }
}
@media screen and (max-width: 700px) {
    /* .about{
        flex-direction: column-reverse;
    } */
  .polo h1 {
    font-size: 70px;
  }

  .left {
    width: 100%;
    min-width: 320px;
    height: auto;
    order: 5;
  }
  .right {
    width: 100%;
    min-width: 320px;

  }
}
@media screen and (max-width: 400px) {
  .polo {

    gap: 5px;
    top: 50px;
  }
}

